In [1]:
import pandas as pd

##  Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   99.399541         0   81          0          -1              0
1  101.784981         0   58          0          -1              0
2  100.443739         0   94          0           1              1
3  100.117089         0   21          1           1              0
4   98.596772         1   90          1           0              1

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2374   99.445363         1    4          1           1              1
2375  101.372429         1   16          0           1              1
2376  101.455840         1   70          0           0              1
2377   99.584755         0   66          1           1              1
2378   98.022700         0   34          0           1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2379 entries, 0 to 2378
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2379 non-null   float64
 1   bodyPain       2379 non-null   int64
 2   age            2379 non-null   int64
 3   runnyNose      2379 non-null   int64
 4   diffBreath     2379 non-null   int64
 5   infectionProb  2379 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 111.6 KB

In [6]:
df['diffBreath'].value_counts()

-1    811
 1    804
 0    764
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2379.000000,2379.000000,2379.000000,2379.000000,2379.000000,2379.000000
mean,100.003286,0.506936,49.511139,0.496847,-0.002942,0.481295
std,1.154613,0.500057,28.821267,0.500095,0.824096,0.499755
min,98.001058,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.009733,0.000000,24.000000,0.000000,-1.000000,0.000000
50%,99.961540,1.000000,49.000000,0.000000,0.000000,0.000000
75%,101.013167,1.000000,74.500000,1.000000,1.000000,1.000000
max,101.999422,1.000000,100.000000,1.000000,1.000000,1.000000

 ## Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([1, 6, 5, 4, 2, 0, 3])

In [11]:
train, test = data_split(df, 0.21)

In [12]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1402  101.368953         1   10          1           1              0
736    99.539256         1   32          0           0              0
1301  101.242666         0   47          1           1              0
1261   99.573305         1   46          0          -1              0
1951   99.985968         1   66          0           1              0
...          ...       ...  ...        ...         ...            ...
1638  101.744867         0   20          1           0              0
1095  100.997083         0   16          0           1              1
1130  101.476337         0   23          0          -1              0
1294  101.103151         0   51          0          -1              1
860   100.950254         0   10          1           1              0

[1880 rows x 6 columns]

In [13]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1133   99.429140         0   80          0           1              1
700   101.886776         1   32          0           1              0
1025  101.734654         1    9          1           0              0
1995   98.216816         1   59          0          -1              1
1356   99.479038         0   88          1           1              1
...          ...       ...  ...        ...         ...            ...
1056  100.180578         0   21          1          -1              0
65     99.757810         1   97          0           1              0
1466  101.538964         0   15          1           0              0
2262  100.784509         1   16          0          -1              0
2293   99.981669         0   25          1          -1              1

[499 rows x 6 columns]

In [14]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [15]:
Y_train = train[['infectionProb']].to_numpy().reshape(1880,)
Y_test = test[['infectionProb']].to_numpy().reshape(499)

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
inputFeatures = [102, 1, 22, -1, 1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [21]:
infProb

0.5748231233059694